:root{
    --white:#ffffff;
    --black:#000000;
    --borderColor:#dfdfdf;
    --regularFont:"Lato Regular";
    --boldFont:"Lato Bold";
}
@font-face {
    font-family: "Lato Regular";
    src: url("/Runtime/Styles/DAEP/fonts/Lato-Regular.ttf");
}
@font-face {
    font-family: "Lato Bold";
    src: url("/Runtime/Styles/DAEP/fonts/Lato-Bold.ttf");
}
@keyframes fadeLeft {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }

    100% {
        opacity: 1;
        transform: translateX(0%);
    }
}
html:not(.designer), body.theme-entry {
    font-size: 14px !important;
    font-family: var(--regularFont) !important;
}
html:not(.designer) body.theme-entry{
    background-color: var(--white)!important;
}
/* SIDEBAR START */
html body aside.sidebar {
    width: 19.5rem;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    padding: 2rem 1.5rem;
    border-right: 1.5px solid rgb(0 33 52 / 10%);
    z-index: 2;
    background-image: url("../images/sidebarPattern.png");
    opacity: 0;
    transition: all .3s ease-in-out;
    transform: translateX(-100%);
    animation: 1s fadeLeft forwards;
}
html body ul.links{
    padding:0;
}
html body ul.links>li {
    display: flex;
    align-items: center;
    padding: .5rem 1rem;
    cursor: pointer;
    margin-bottom: .5rem;
    border-radius: .5rem;
}
.sideBarLinksGroup .icon {
    width: 1.5rem;
    height: auto;
    display: flex;
    justify-content: center;
}
html body ul.links li .icon {
    margin-right: 1rem;
}
.sideBarLinksGroup .icon img {
    width: 100%;
    height: auto;
}
.sideBarLinksGroup a {
    font-size: 1.05rem;
    color: var(--white);
    text-decoration: none;
}
/* SIDEBAR END */
html:not(.designer) [name*="s_label"] {
    font-size: 1rem;
    color: var(--black);
    font-family: var(--regularFont);
    transition: all .3s ease-in-out;
    height: unset !important;
    min-height: unset !important;
    line-height: unset !important;
    text-wrap: auto;
}
html:not(.designer) [name*="s_dropdown"] [name*="s_label"] {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 0 !important;
}
html:not(.designer) [name*="s_label"] {
    font-size: 1rem;
    color: var(--Light-black);
    font-family: 'AlinmaTheSans-Plain';
    transition: all .3s ease-in-out;
    height: unset !important;
    min-height: unset !important;
    line-height: unset !important;
    text-wrap: auto;
}
html:not(.designer) .input-control.select-box.dropdown-box
{
    height: 100%;
    min-height: 2rem !important;
    width: calc(100% - 2rem) !important;
}
html:not(.designer) .input-control.select-box.dropdown-box .input-control-m-c, html:not(.designer) .input-control-buttons.styling-right.styling-inner-wrapper {
    background-color: transparent !important;
    border: none !important;
    height: 100% !important;
    min-height: 2rem !important;
    display: flex;
    align-items: center;
}
html:not(.designer) body.theme-entry [name*="s_textbox"]{
    border: 1px solid var(--borderColor) !important;
    background-color: var(--Textbox-background-color) !important;
    font-size: 1rem !important;
    border-radius: .5rem !important;
    padding: .4rem 1rem !important;
    padding: 0 !important;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-family: var(--regularFont);
    width: 100%;
    min-height: 3.5rem !important;
    height: 3.5rem !important;
    align-content: center;
    padding: 0 1rem !important;
    position: relative;
}
[name*="s_textbox"] input.SourceCode-Forms-Controls-Web-TextBox {
    position: absolute !important;
    width: calc(100% - 2rem) !important;
    border: 0 !important;
    background-color: transparent !important;
    height: 100% !important;
    min-height: 100% !important;
    padding: 0 !important;
    top: 0;
    z-index: 1 !important;
}
[name*="s_textarea"] textarea {
    position: absolute !important;
    z-index: 1 !important;
    width: calc(100% - 2rem) !important;
    border: 0 !important;
    background-color: transparent !important;
    min-height: 3.5rem !important;
    height: auto;
    padding: 0 !important;
    top: -2.3rem;
    font-family: var(--regularFont) !important;
    color: var(--black) !important;
}
html:not(.designer) [name*="s_button"],
html:not(.designer) .theme-entry .dialog .popup-footer .SourceCode-Forms-Controls-Web-Button {
    border-radius: .5rem !important;
    padding: 0.6rem 2.4rem !important;
    font-size: 1rem;
    font-family: var(--regularFont);
    height: unset;
    min-height: unset;
    width: 100%;
    margin: .3rem 0;
}
html:not(.designer) [name*="s_textbox"], html:not(.designer) [name*="s_dropdown"]{
    border: 1px solid var(--borderColor) !important;
    font-size: 1rem !important;
    border-radius: .5rem !important;
    padding: .4rem 1rem !important;
    padding: 0 !important;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-family: var(--regularFont);
    width: 100%;
    min-height: 3.5rem !important;
    height: 3.5rem !important;
    align-content: center;
    padding: 0 1rem !important;
    position: relative;
}
/* VIEW HEADER START */
html:not(.designer) body.theme-entry .view [name*="s_collapse"] .panel-header{
    background-color:transparent!important;
    
}
/* VIEW HEADER END */
@media (min-width: 992px) {
    html:not(.designer) body {
        margin-left: 19.5rem;
        width: calc(100% - 19.5rem);
    }
}
@media(min-width: 1200px){
    html:not(.designer) body {
        margin-left: 18rem;
        width: calc(100% - 18rem);
    }
}
@media(min-width: 1600px){
    html:not(.designer) [name*="s_label"] {
        font-size: 1vw;
    }
    html:not(.designer) body.theme-entry [name*="s_textbox"]{
        font-size: 1vw !important;
        border-radius: .5vw !important;
        padding: .4vw 1vw !important;
        min-height: 3.5vw !important;
        height: 3.5vw !important;
        padding: 0 1vw !important;
    }
    html:not(.designer) [name*="s_button"],
    html:not(.designer) .theme-entry .dialog .popup-footer .SourceCode-Forms-Controls-Web-Button {
        border-radius: .5vw !important;
        padding: 0.6vw 2.4vw !important;
        font-size: 1vw;
        margin: .3vw 0;
    }
        html:not(.designer) [name*="s_textbox"], 
        html:not(.designer) [name*="s_dropdown"] {
        font-size: 1vw !important;
        border-radius: 0.5vw !important;
        padding: 0.4vw 1vw !important;
        min-height: 3vw !important;
        height: 3vw !important;
        padding: 0 1vw !important;
    }
}